EXPO_PUBLIC_SUPABASE_URL=https://xhinqjbdiyrvinueceei.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhoaW5xamJkaXlydmludWVjZWVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExNjI2NTMsImV4cCI6MjEwNjczODY1M30.ySINtGkwCiEz4rtWrD6o7-_THxZ0njcOCr8nWvGZQjM
